.container-admin-requests {
    background: rgb(0,175,185);
    background: linear-gradient(160deg, rgba(0,175,185,1) 0%, rgba(60,232,170,1) 100%);
    height: 100vh;
    display: flex;
    column-gap: 5%;
}

.board-admin-requests {
    margin: 10px;
    background-color: #F5F5F5;
    width: 86%;
    border-radius: 20px;
}

.page-title-admin-requests {
    color: #008A92;
    font-size: 30px;
    font-family: Didot serif;
    font-weight: bold;
    padding-left: 35px;
    margin-bottom: 0;
}

.name-info-admin-requests {
    color: #545555;
    font-size: 17px;
    font-family: Didot serif;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    column-gap: 7px;
    padding: 20px;

}

.top-content-admin-requests {
    display: flex;
    justify-content: space-between;
}

.admin-requests-types {
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    margin: 2% 10% 2% 10%;
    justify-content: center;
}

.admin-request {
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: stretch;
    align-items: center;
    column-gap: 10%;
    padding: 10px;

}

.admin-requests {

    display: flex;
    flex-direction: column;
    margin: 0 10% 0 5%;
    row-gap: 20px;

}

.admin-request-info {

}


.admin-request-title {
    color: #000000;
    font-size: 22px;
    font-family: Didot serif;
    font-weight: normal;
    margin: 5px;
}

.admin-request-author, .admin-request-room {
    color: #000000;
    font-size: 15px;
    font-family: Didot serif;
    font-weight: normal;
    margin: 5px;
}


.button-processed-request {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    font-family: Didot serif;

}

.buttons-admin-request-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


.admin-requests-type {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 22px;
    font-family: Didot serif;
    color: #008A92;

}

.admin-requests-type:focus{
    /*background-color: rgba(176, 183, 182, 0.13);*/
    /*border-radius: 10px;*/
    text-decoration: underline 1px;

}

.admin-menu {
    display: flex;
    flex-direction: column;
    width: 18%;

}

@media (device-width < 600px) {
    .admin-menu {
        display: flex;
        flex-direction: row;

    }
}

.admin-logo {
    color: #eaeaea;
    font-size: 38px;
    font-family: Didot serif;
    font-weight: normal;
    margin-left: 30%;
}

@media (device-width < 600px) {
    .admin-logo {
        color: #eaeaea;
        font-size: 1px;
        font-family: Didot serif;
        font-weight: normal;
        margin-left: 0;
        visibility: hidden;
    }
}

.admin-menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    row-gap: 7px;
}

@media (device-width < 600px) {
    .admin-menu-items {
        display: flex;
        flex-direction: row;
    }
}

.admin-menu-item {
    background-color: transparent;
    border-color: transparent;
    color: #eaeaea;
    font-size: 30px;
    cursor: pointer;
    font-family: Didot serif;
    font-weight: normal;
    padding: 3px 0 3px 0;
    margin-left: 7px;
}

@media (device-width < 600px) {
    .admin-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 15px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}

@media (device-width <= 450px) and (device-width > 350px) {
    .admin-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 18px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}

@media (device-width < 600px) and (device-width > 450px) {
    .admin-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 22px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}



.admin-checked-menu-item {
    background-color: #F5F5F5;
    box-shadow: 2px 5px 5px #727171;
    border-color: transparent;
    border-radius: 0 10px 10px 0;
    width: 15px;
    height: 20px;
}

@media (device-width < 600px) {
    .admin-checked-menu-item {
        background-color: transparent;
        box-shadow: 2px 5px 5px #727171;
        border-color: transparent;
        border-radius: 0 10px 10px 0;
        width: 1px;
        height: 2px;
        visibility: hidden;
    }
}

.admin-menu-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}