.help-menu {
    display: flex;
    flex-direction: column;
    width: 18%;

}

@media (device-width < 600px) {
    .help-menu {
        display: flex;
        flex-direction: row;

    }
}

.help-logo {
    color: #eaeaea;
    font-size: 38px;
    font-family: Didot serif;
    font-weight: normal;
    margin-left: 30%;
}

@media (device-width < 600px) {
    .help-logo {
        color: #eaeaea;
        font-size: 1px;
        font-family: Didot serif;
        font-weight: normal;
        margin-left: 0;
        visibility: hidden;
    }
}

.help-menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    row-gap: 7px;
}

@media (device-width < 600px) {
    .help-menu-items {
        display: flex;
        flex-direction: row;
    }
}

.help-menu-item {
    background-color: transparent;
    border-color: transparent;
    color: #eaeaea;
    font-size: 30px;
    cursor: pointer;
    font-family: Didot serif;
    font-weight: normal;
    padding: 3px 0 3px 0;
    margin-left: 7px;
}

@media (device-width < 600px) {
    .help-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 15px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}

@media (device-width <= 450px) and (device-width > 350px) {
    .help-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 18px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}

@media (device-width < 600px) and (device-width > 450px) {
    .help-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 22px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}

.container-help {
    background: rgb(0,175,185);
    background: linear-gradient(160deg, rgba(0,175,185,1) 0%, rgba(60,232,170,1) 100%);
    height: 100vh;
    display: flex;
    column-gap: 5%;
}

@media (device-width < 600px) {
    .container-help {
        background: #c1e0df;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.board-help {
    margin: 10px;
    background-color: #F5F5F5;
    opacity: 0.9;
    width: 86%;
    border-radius: 20px;
    height: auto;
}

@media (device-width < 600px) {
    .board-help {
        background: rgb(0,175,185);
        background: linear-gradient(160deg, rgba(0,175,185,1) 0%, rgba(60,232,170,1) 100%);
        margin: 10px 0 0 0;
        background-color: #F5F5F5;
        opacity: 100%;
        width: 100%;
        border-radius: 0;
        height: auto;

    }
}

.help-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 10%;
    height: inherit;
}

@media (device-width < 600px) {
    .help-items-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        justify-content: unset;
        flex-direction: column;
        margin: 3% 10% 3% 10%;
        height: inherit;
        align-items: center;
    }
}

.help-item {
    background-color: #FFFFFF;
    opacity: 1;
    border-radius: 20px;
    width: 25%;
    min-height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 5px 5px #727171;
    border-color: transparent;
    cursor: pointer;


}

@media (device-width < 600px) {
    .help-item {
        background-color: #FFFFFF;
        opacity: 1;
        border-radius: 20px;
        width: 90%;
        min-height: 10%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 2px 5px 5px #727171;
        border-color: transparent;
        cursor: pointer;


    }
}

.help-item-title {
    color: #008A92;
    font-size: 25px;
    font-family: Didot serif;
    font-weight: bold;
    padding: 10px;
}

@media (device-width < 600px) {
    .help-item-title {
        color: #008A92;
        font-size: 20px;
        font-family: Didot serif;
        font-weight: bold;
        padding: 0;
    }
}

.help-page-title {
    color: #008A92;
    font-size: 30px;
    font-family: Didot serif;
    font-weight: bold;
    padding-left: 35px;
}

@media (device-width < 600px) {
    .help-page-title {
        color: #F5F5F5;
        font-size: 30px;
        font-family: Didot serif;
        font-weight: bold;
        padding-left: 0;
    }
}

.help-name-info {
    color: #545555;
    font-size: 20px;
    font-family: Didot serif;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    column-gap: 7px;
    padding: 20px;

}

@media (device-width < 600px) {
    .help-name-info {
        color: #545555;
        font-size: 2px;
        font-family: Didot serif;
        font-weight: normal;
        display: flex;
        justify-content: space-between;
        column-gap: 1px;
        padding: 0;
        visibility: hidden;

    }
}

.help-top-content {
    display: flex;
    justify-content: space-between;
}

@media (device-width < 600px) {
    .help-top-content {
        display: flex;
        justify-content: center;
    }
}

.help-item:hover {
    box-shadow: 0 0 0 0;

}

.help-checked-menu-item {
    background-color: #F5F5F5;
    box-shadow: 2px 5px 5px #727171;
    border-color: transparent;
    border-radius: 0 10px 10px 0;
    width: 15px;
    height: 20px;
}

@media (device-width < 600px) {
    .help-checked-menu-item {
        background-color: transparent;
        box-shadow: 2px 5px 5px #727171;
        border-color: transparent;
        border-radius: 0 10px 10px 0;
        width: 1px;
        height: 2px;
        visibility: hidden;
    }
}

.menu-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}