.room-container {
    background: rgb(0,175,185);
    background: linear-gradient(160deg, rgba(0,175,185,1) 0%, rgba(60,232,170,1) 100%);
    height: 100vh;
    display: flex;
    column-gap: 5%;
}

@media (device-width < 600px) {
    .room-container {
        background: #c1e0df;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.room-menu {
    display: flex;
    flex-direction: column;
   
    width: 18%;

}

@media (device-width < 600px) {
    .room-menu {
        display: flex;
        flex-direction: row;

    }
}

.room-logo {
    color: #eaeaea;
    font-size: 38px;
    font-family: Didot serif;
    font-weight: normal;
    margin-left: 30%;
}

@media (device-width < 600px) {
    .room-logo {
        color: #eaeaea;
        font-size: 1px;
        font-family: Didot serif;
        font-weight: normal;
        margin-left: 0;
        visibility: hidden;
    }
}

.room-menu-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    row-gap: 7px;
}

@media (device-width < 600px) {
    .room-menu-items {
        display: flex;
        flex-direction: row;
    }
}

.room-menu-item {
    background-color: transparent;
    border-color: transparent;
    color: #eaeaea;
    font-size: 30px;
    cursor: pointer;
    font-family: Didot serif;
    font-weight: normal;
    padding: 3px 0 3px 0;
    margin-left: 7px;
}

@media (device-width <= 600px) {
    .room-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 15px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}

@media (device-width <= 450px) and (device-width > 350px) {
    .room-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 18px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}

@media (device-width < 600px) and (device-width > 450px) {
    .room-menu-item {
        background-color: transparent;
        border-color: transparent;
        color: #08858e;
        font-size: 22px;
        cursor: pointer;
        font-family: Didot serif;
        font-weight: normal;
        padding: 3px 0 3px 0;
        margin-left: 7px;
    }
}

.board-room {
    margin: 10px;
    background-color: #F5F5F5;
    opacity: 0.9;
    width: 86%;
    border-radius: 20px;
    height: auto;
}

@media (device-width < 600px) {
    .board-room {
        background: rgb(0,175,185);
        background: linear-gradient(160deg, rgba(0,175,185,1) 0%, rgba(60,232,170,1) 100%);
        margin: 10px 0 0 0;
        background-color: #F5F5F5;
        opacity: 100%;
        width: 100%;
        border-radius: 0;
        height: 100vh;

    }
}

.room-page-title {
    color: #008A92;
    font-size: 30px;
    font-family: Didot serif;
    font-weight: bold;
    padding-left: 35px;
}

@media (device-width < 600px) {
    .room-page-title {
        color: #F5F5F5;
        font-size: 30px;
        font-family: Didot serif;
        font-weight: bold;
        padding-left: 0;
    }
}

.room-name-info {
    color: #545555;
    font-size: 20px;
    font-family: Didot serif;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    column-gap: 7px;
    padding: 20px;

}

@media (device-width < 600px) {
    .room-name-info {
        color: #545555;
        font-size: 2px;
        font-family: Didot serif;
        font-weight: normal;
        display: flex;
        justify-content: space-between;
        column-gap: 7px;
        padding: 0;
        visibility: hidden;

    }
}

.room-top-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (device-width < 600px) {
    .room-top-content {
        display: flex;
        justify-content: center;
    }
}

.room-info-title {
    color: #545555;
    font-family: Didot serif;
    font-weight: bold;
    font-size: 24px;

}

.neighbours-title {
    color: #545555;
    font-family: Didot serif;
    font-weight: normal;
    font-size: 20px;
}

.photos-title {
    color: #545555;
    font-family: Didot serif;
    font-weight: normal;
    font-size: 20px;
    margin-left: 40px;
}

.neighbours-info {
    background-color: #ffffff;
    border-radius: 10px;
    border-color: transparent;
    height: 30px;
    width: 300px;
    padding-left: 10px;
    font-size: 15px;
}

.room-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.room-info-neighbours {
    display: flex;
    align-items: flex-start;
    column-gap: 60px;
    margin-top: 40px;
}

.neighbours-info-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.room-info-photos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 60px;
    margin-top: 40px;

}

.photos-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 30px 40px 20px 40px;
}

.photo {
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 2px #b0b7b6;
}

.room-checked-menu-item {
    background-color: #F5F5F5;
    box-shadow: 2px 5px 5px #727171;
    border-color: transparent;
    border-radius: 0 10px 10px 0;
    width: 15px;
    height: 20px;
}

@media (device-width < 600px) {
    .room-checked-menu-item {
        background-color: transparent;
        box-shadow: 2px 5px 5px #727171;
        border-color: transparent;
        border-radius: 0 10px 10px 0;
        width: 1px;
        height: 2px;
        visibility: hidden;
    }
}

.menu-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}