.admin-residents-container {
    background: rgb(0,175,185);
    background: linear-gradient(160deg, rgba(0,175,185,1) 0%, rgba(60,232,170,1) 100%);
    height: 100vh;
    display: flex;
    column-gap: 5%;
}

.board {
    margin: 10px;
    background-color: #F5F5F5;
    width: 86%;
    border-radius: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;

}

.page-title {
    color: #008A92;
    font-size: 30px;
    font-family: Didot serif;
    font-weight: bold;
    padding-left: 35px;
}

.name-info {
    color: #545555;
    font-size: 17px;
    font-family: Didot serif;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    column-gap: 7px;
    padding: 20px;

}

.top-content {
    display: flex;
    justify-content: space-between;
}

.add-student {
    border-color: transparent;
    background-color: #009EA7;
    width: 63px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 50px;
    cursor: pointer;
}

.button-add-placement {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;

}

.table-titles {
    color: #545555;
    font-size: 19px;
    font-family: Didot serif;
    font-weight: lighter;
    display: flex;
    justify-items: stretch;
    width: 90%;
    justify-content: center;


}

.students-table {
    width: inherit;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    table-layout: fixed;


}

.student-items {
    color: #333636;
    font-size: 15px;
    font-family: Didot serif;
    font-weight: lighter;
    width: inherit;
    margin-top: 10px;
    display: flex;
    justify-items: stretch;
    column-gap: 5px;



}

.students {
    height: 80%;
    margin-bottom: 10px;
}

.table-title-name, .table-title-faculty  {
    width: 25%;
    display: flex;
    align-items: center;
}

.table-name, .table-faculty  {
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border-color: transparent;
    background-color: rgba(176, 183, 182, 0.15);
}

.table-title-room {
    width: 12%;
    display: flex;
    align-items: center;

}

.table-room {
    width: 12%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border-color: transparent;
    background-color: rgba(176, 183, 182, 0.15);

}

.table-title-phone {
    width: 17%;
    display: flex;
    align-items: center;

}

.table-phone {
    width: 17%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border-color: transparent;
    background-color: rgba(176, 183, 182, 0.15);

}

.table-title-email{
    width: 27%;
    display: flex;
    align-items: center;

}

.table-email{
    width: 27%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border-color: transparent;
    background-color: rgba(176, 183, 182, 0.15);

}

.table-edit {
    display: flex;
    align-items: center;
}

.table-edit-button {
    font-family: Didot serif;
    cursor: pointer;
    border-radius: 6px;
    border: #858c8c 1px solid;
    padding: 5px;
}





